<div class="row">
  <div class="col-md-7">
    <h2>Contracts</h2>
  </div>
</div>
<div>
  <mt-search-bar (onSearch)="search($event)"></mt-search-bar>
  <mt-search-filter-select [items]="statuses" entity="Status" (onSelectionChanged)="getContracts()"></mt-search-filter-select>
  <mt-search-filter-select [items]="servicedivisions" entity="ServiceDivision" (onSelectionChanged)="getContracts()"></mt-search-filter-select>
  <mt-search-filter-daterange entity="Date" (onSelectionChanged)="orderDateSelectionChanged($event)"></mt-search-filter-daterange>
  <input type="checkbox" [(ngModel)]="includeArchived" id="includeArchived" (change)="includeArchivedChanged()" class="form-check-input">
  <label for="archived">Include Archived</label>
</div>

<entity-list [entities]="contracts" entityLink="/contracts" [total]="total" [(currentPage)]="currentPage" (onPageChanged)="getContracts()"
  [entityListConfig]="entityListConfig" (onItemSelected)="contractSelected($event)">
</entity-list>

<div *ngIf="toggleDialog" class="dialog">
  <div class="miles-card padded">
    <h4>Customer Locations for {{cutomerForLocation}}</h4>
    <ul class="list-group">
      <li (click)="goToLocationName(location)" *ngFor="let location of customerLocations" class="list-group-item">
        <span>{{location.Name}}</span>
      </li>
    </ul>
  </div>
</div>

  <div *ngIf="canAddContract" class="fab-wrap-b-r">
    <a class="btn btn-primary btn-fab-lg" [routerLink]="['/contracts', 'add']">
      <span class="fa fa-plus"></span>
    </a>
  </div>