<div class="row">
  <div class="col-md-7">
    <h2>Customer Locations</h2>
  </div>
</div>
<div>
  <mt-search-bar (onSearch)="search($event)"></mt-search-bar>
  <mt-search-filter-select [items]="serviceareas" entity="Service Area" (onSelectionChanged)="getCustomerLocations()"></mt-search-filter-select>
  <input type="checkbox" [(ngModel)]="includeArchived" id="includeArchived" (change)="includeArchivedChanged()" class="form-check-input"> <label for="archived">Include Archived</label>
</div>

<entity-list [entities]="customerLocations" entityLink="/customerLocations" [total]="total" [(currentPage)]="currentPage"
    (onPageChanged)="getCustomerLocations()" [entityListConfig]="entityListConfig" (onItemSelected) = "customerLocationSelected($event)">
</entity-list>

<div *ngIf="canAddCustomerLocation" class="fab-wrap-b-r">
  <a class="btn btn-primary btn-fab-lg" [routerLink]="['/customerlocations', 'add']">
    <span class="fa fa-plus"></span>
  </a>
</div>
