<div class="row">
    <div class="col-md-7">
        <h2>Customers</h2>
    </div>
</div>
<div>
    <mt-search-bar (onSearch)="search($event)"></mt-search-bar>
    <mt-search-filter-select [items]="sources" entity="Source" (onSelectionChanged)="getCustomers()"></mt-search-filter-select>
    <mt-search-filter-select [items]="statuses" entity="Status" (onSelectionChanged)="getCustomers()"></mt-search-filter-select>

</div>

<entity-list [entities]="customers" [total]="total" [(currentPage)]="currentPage" (onPageChanged)="getCustomers()"
    (onItemSelected)="customerSelected($event)" [entityListConfig]="entityListConfig">
</entity-list>

<div *ngIf="canAddCustomer" class="fab-wrap-b-r">
    <a class="btn btn-primary btn-fab-lg" [routerLink]="['/customers', 'add']">
        <span class="fa fa-plus"></span>
    </a>
</div>
